<%= content_for :breadcrumb do %>
	<ul class="breadcrumb">
		<li><i class="icon-home"></i> Home</li>
	</ul><!--.breadcrumb-->
<% end %>

<% content_for :header do %>
	<div class="page-header position-relative">
		<h1>Dashboard</h1>
	</div><!--/page-header-->
<% end %>

<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<%= content_for :inline_scripts do %>
	<script type='text/javascript'>
		window.onload = function() {
			$('li#nav-dashboard').addClass('active');
		};
	</script>
<% end %>
